@import './reset';
@import '../variables/global';
@import '../fonts/fonts';

* {
    background-color: #191411;
}

.app {
    font-family: Gilroy, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}