@import './reset';
@import '../variables/global';
@import '../fonts/fonts';

.app {
    font-family: Gilroy, sans-serif;
    background-color: #191411;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}