@import './reset';
@import '../variables/global';
@import '../fonts/fonts';

.app {
    font-family: Gilroy, sans-serif;
    background: #191411;
    overflow: hidden;
}

.bgWrapper {
    background: url('../../shared/assets/images/backgrounds/main.png') center center/cover no-repeat;
}