.Header {
    position: relative;
    padding: 40px 10px;
    height: 130px;
    z-index: 100;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__logo {
        width: 156px;
        height: 50px;

        img {
            object-fit: cover;
        }
    }
}

.menu {
    user-select: none;
    
    &__list {
        max-width: 600px;
        list-style: none;
        display: flex;
        gap: 80px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
   
    &__item {

        a {
            font: var(--font-l);
            cursor: pointer;
            text-decoration: none;
            color: var(--text-color);

            &:hover {
                border-bottom: 1px solid white;
                color: #dfd697
            }
            
            &:active {
                color: #ffc671; 
            }
        }
    }
}
@media (width<= 850px) {

    .Header {
        width: 100vw;
        height: 60px;
        position: fixed;
        padding: 0;

        
        &__logo {
            display: none;
        }
        
        &__container {
            display: flex;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 75%;
            height: 100vh;
            transition: all 0.7s;
            left: -75%;
            background: rgb(0 0 0 / 90%);

            &_active {
                left: 0;
            }
        }
        
        .menu {
            width: 100%;

            &__list {
                flex-direction: column;
                gap: 50px;
            }
            
            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 60px;
                
                a {
                    font: var(--font-xl);
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}