.Modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    
    &__window {
        position: absolute;
        width: 350px;
        height: 400px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background: #211A16;
        border-radius: 16px;
        border: 1px solid #353535;
        transform: scale(0.5);
        transition: 0.3s transform;
        
        
        span {
            font: var(--font-xxl);
            color: var(--text-color);
        }
    }
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: 100;

    .Modal__window {
        transform: scale(1);
    }
}

.isClosing {

    .Modal__window {
        transform: scale(0.2);
    }
}