.Modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    background: rgb(0 0 0 / 60%);
    
    &__window {
        position: absolute;
        width: 350px;
        height: 400px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #321e13;
        border-radius: 16px;
        border: 1px solid #353535;
        transform: scale(0.5);
        transition: 0.3s transform;
        
        span {
            font: var(--font-xxl);
            color: var(--text-color);
            text-align: center;
            margin-top: 140px;
        }
        
        button {
            position: absolute;
            bottom: 55px;
            padding: 7px 20px;
            border-radius: 8px;
            background: orange;
            cursor: pointer;
            user-select: none;
            font: var(--font-l);
            
            &:hover {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(1);
                opacity: 0.8;
            }
        }
    }
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: 100;

    .Modal__window {
        transform: scale(1);
    }
}

.isClosing {

    .Modal__window {
        transform: scale(0.2);
    }
}