.CheddarBurger {
    padding: 160px 10px 200px;
    position: relative;

    &__newMenu,
    &__title,
    &__text {
        color: var(--text-color);
    }
    
    &__container {
        max-width: 610px;
        z-index: 2;
        position: relative;
    }
    
    &__title {
        text-transform: uppercase;
        font: var(--font-main-title);
    }
    
    &__text {
        margin: 55px 0;
        font: var(--font-xl);
    }
    
    &__image {
        position: absolute;
        top: -63px;
        left: calc(100% - 991px);
        z-index: 1;
    }
}
@media (width<= 600px) {

    .CheddarBurger {

        &__title {
            font: var(--font-title);
        }  
        
        &__text {
            margin: 55px 0;
            font: var(--font-l);
        }
    }
}