.HeaderCurrency {
    width: 70px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: var(--text-color);
}
@media (width<= 850px) {

    .HeaderCurrency {
        margin-top: 30px;
        font-size: 22px;
    }
}