@font-face {
    font-family: Gilroy;
    src: url('../../shared/assets/fonts/Gilroy-Semibold.ttf');
}
@font-face {
    font-family: Merriweather;
    src: url('../../shared/assets/fonts/Merriweather-Black.ttf');
}